{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2>Sell Stocks</h2>
    <form action="/sell" method="post">
        <div class="mb-3">
            <label for="symbol">Symbol:</label>
            <select name="symbol" class="form-select">
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares">Number of shares:</label>
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
